body{
    background: #fff;
}
nav{
    .nav-box{
        .list{
            .title{
                ol{
                    background: #eee;
                    display: none;
                    li{
                        color: black;
                        text-align: left;
                        height: 32px;
                        a{
                            color: #111;
                        }
                        a:hover{
                            color: #c00;
                        }
                    }
                }
            }
            .title:hover{
                ol{
                    display: block;
                }
            }
        }
    }
}
section{
    width: 1200px;
    height: 500px;
    margin: 20px auto 100px;
    .glass{
        width: 380px;
        height: 490px;
        position: relative;
        .zoom{
            width: 360px;
            height: 360px;
            img{
                width: 360px;
                height: 360px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        ul{
            width: 310px;
            height: 56px;
            padding: 30px;
            li{
                width: 56px;
                height: 56px;
                float: left;
                margin-right: 4px;
                border: 1px solid #999;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .big-box{
            width: 430px;
            height: 500px;
            border: 1px solid #999;
            position: absolute;
            left: 380px;
            top: 0;
            display: none;
        }
    }
    .center{
        padding: 20px;
        .biscuits{
            height: 100px;
            font-size: 14px;
            line-height: 30px;
            .bis-price{
                b{
                    color: red;
                }
                span{
                    font-size: 20px;
                    color: red;
                }
            }
        }
        p{
            a{
                padding: 10px 20px;
                border: 1px solid red;
            }
        }
        
    }
}
.small-img{
	display: flex;
	align-items:center;
	justify-content: center;
}
.clearfix:before,
.clearfix:after{
  display: table;
  line-height: 0;
  content: "";
}
.magnifier{
	width: 380px;
	position: relative;
    float: left;
}
.magnifier-container{
	width: 380px;
	height: 380px;
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
}
.move-view{
	width: 200px;
	height: 200px;
    position: absolute;
    background: #fff;
    opacity: 0.6;
}
.images-cover{
	height: 100%;
	width: 100%;
	position: relative;
}
.images-cover img{
    position: absolute;
	height: 100%;
	width: 100%;
}
.magnifier-assembly{
	height: 92px;
	overflow: hidden;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}

.magnifier-line{
	position: relative;
	overflow: hidden;
    height: 92px;
    margin-top: 30px;
}
.magnifier-line ul{
	display: block;
	font-size: 0;
	width: 10000%;
	position: absolute;
	left: 0;
	z-index: 9997;
}
.magnifier-line li{
	float: left;
    width: 60px;
    height: 60px;
	cursor: pointer;
}
.magnifier-line ul > .active .small-img{
	border-color: #bbb;
}
.small-img{
	height: 50px;
	padding: 1px;
	margin: 5px;
	overflow: hidden;
	border: 1px solid #ddd;
    text-align: center;
}
.small-img img{
	max-width: 100%;
	max-height: 100%;
}
.magnifier-view{
	width: 100%;
	height: 100%;
	position: absolute;
	right: -105%;
	top: 0;
	z-index: 9999;
	background-color: #fff;
	display: none;
	overflow: hidden;
}
.magnifier-view img{
	display: block;
}
.animation03{
	transition: all 0.3s ease-in 0.1s;
	-ms-transition: all 0.3s ease-in 0.1s;
	-moz-transition: all 0.3s ease-in 0.1s;
	-webkit-transition: all 0.3s ease-in 0.1s;
	-o-transition: all 0.3s ease-in 0.1s;
}